* {font-family: verdana}

body {
    margin: 0;
    position: fixed;
}

#author {
    text-align: center;
    color: lightgray;
    width: 100vw;
    height: 90px;
    background-color: blueviolet;
    position: absolute;
    bottom: 0;
}

#author > img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#start-screen {
    color: antiquewhite;
    width: 90vw;
    height: 80vh;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid lightgray;
    position: absolute;
    top: calc(50vh/2 - 20vh);
    left: calc(5vw);
    border-radius: 40px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
    text-align: center;
}

button {
    margin: 10px;
    padding: 10px;
    width: 100px;
    height: 60px;
    font-weight: bolder;
    border-radius: 10px;
    outline: none;
    border: none;
    transition: 1s;
    color: lightgray;
}

#play {
    background-color: green;
    border: 2px solid lightgray;
}

#about {
    background-color: silver;
    color: #222;
}

button:hover{
    background-color: purple;
    color: lightgray;
    transform: scale(2);
    border: 2px solid lightgray;
}

#gameData {
    width: 100vw;
    height: 100vh;
    background-color: red;
}