body {
    margin: 0;
    position: fixed;
    user-select: none;
    -webkit-user-select: none;
}

#info {
    position: absolute;
    width: 100vw;
    height: 8vh;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    padding: 2vh;
    color: lightgray;
}

button {
    outline: none;
    border: none;
    width: 90px;
    height: 90px;
    border-radius: 10px;
    background-color: teal;
    color: lightgray;
}

#info > * {
    margin-right: 5vw;
}

#info > button {
    background: none;
    color: lightgray;
    border: 2px solid lightgray;
    width: 70px;
    height: 70px;
    border-radius: 10px;
    transition: 1s;
}

#info > button:hover {
    background-color: lightgray;
    color: #222;
}

#startScreen {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .8);
    position: absolute;
    color: lightblue;
    display: flex;
    justify-content: center;
}

#title {
    font-size: 20vh;
}